/*
Pink #F06DF2
Black #02060D
Dark Blue #081226
Blue #04ADBF
Yellow #F2E307
*/

:root {
    --black: #02060D;
    --blue: #04ADBF;
    --dark-blue: #081226;
    --yellow: #F2E307;
    --pink: #F06DF2;
}

body, h1 a {
    font-family: sans-serif;
    color: var(--black);
    background-color: var(--black);
}

.directory > span {
    color: white;
} 

h1 a {
    color: var(--pink);
}

.grid-lg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 2fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.grid-lg a {
    display: flex;
    padding: 10vh;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.5s;
    background-color: var(--dark-blue);
}

.list {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.list a {
    padding: 1vh;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s;
    -ms-word-wrap: anywhere;
    word-wrap: anywhere;
    margin: 5px 0;
    position: relative;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    width: 100%;
}

.list a img {
    left: 1vw;
    top: 1vh;
    position: absolute;
}

.list a.file {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: white;
}

.list a.directory {
    background-color: var(--dark-blue);
}

.grid-lg a:visited, .grid-lg a,
.list a:visited, .list a {
    color: white;
}
.grid-lg a:hover,
.list a.directory:hover {
    background-color: var(--blue);
    transition: background-color 0.5s, color 0.5s;
}
.list a.file:hover {
    background-color: var(--dark-blue);
    transition: background-color 0.5s, color 0.5s;
}

.directories {
    display: grid;
    gap: 2px 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

@media only screen and (max-width: 1170px) {
    .grid-lg {
        display: block;
    }
    .grid-lg a {
        margin: 10px;
    }
    .list, form {
        width: 90%;
    }
    .list a img {
        display: none;
    }
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="file"]  + label, input[type="submit"], button {
    color: white;
    background-color: transparent;
    padding: 10px;
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
    border: 2px solid var(--pink);
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

input[type="text"] {
    padding: 10px;
    font-size: 1.25em;
    font-weight: 500;
    display: inline-block;
    border: 2px solid var(--pink);
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
    width: 50%;
    background-color: transparent;
    color: white;
}

input[type="file"]:focus + label,
input[type="file"]  + label:hover,
input[type="submit"]:hover,
button:hover {
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

progress {
    border: 1px solid var(--pink);
}
progress::-webkit-progress-bar {
    background: var(--pink);
}
progress::-webkit-progress-value {
    background: var(--pink);
}
progress::-moz-progress-bar {
    background: var(--pink);
}

button {
    padding: 1vh;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s;
    margin: 5px 0;
    position: relative;
    border-radius: 0 5px 5px 0;
}

.directory ~ button {
    border-color: var(--dark-blue);
    background-color: white;
}
.directory ~ button:hover {
    background-color: grey;
}

.file ~ button {
    border-color: var(--blue);
    background-color: white;
}
.file ~ button:hover {
    background-color: grey;
}

.item, .forms {
    display: flex;
}
.item {
    justify-content: center;
}
.forms {
    width: 40%;
    margin: 0 auto;
    justify-content: space-around;
}