body {
  font-family: Open Sans, Arial, sans-serif;
  color: #454545;
  font-size: 16px;
  background-color: #fefefe;
}

.App {
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}

.Usages {
  display: flex;
  flex-direction: column;
}

.Navigation {
  display: flex;
  justify-content: space-around;
  font-size: 32px;
}

.Navigation a {
  color: #454545;
  text-decoration: none;
}

/* From https://loading.io/css */
.LoadingSpinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.LoadingSpinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}

.LoadingSpinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.LoadingSpinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.LoadingSpinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}