{{ $path := .Path }}
{{ $prev := .Previous }}
{{ $prefix := .Prefix }}
{{ $singleprefix := .SinglePrefix }}
<html>
<head>
    <title>{{ $path }} | PiNas</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<header>
    <a href="/" class="back-button">
        <img src="/assets/svgs/back.svg" alt="">
    </a>
    <h1 style="display: inline-block">PiNas</h1>
</header>
<main>
    <div>
        <h1>{{$prefix}}/{{$path}}</h1>
    </div>
    <div class="content">
        {{ if eq $prefix "files" }}
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="value" value="{{$path}}" name="path">
            <input type="file" data-multiple-caption="{count} files selected" multiple name="file">
            <input type="submit" value="Upload">
        </form>
        {{end}}
        <p class="directory"><a href="/{{$prefix}}/{{$prev}}">..</a></p>
        {{range $file := .Files}}
            {{ if $file.IsDir }}
                <p class="directory"><a href="/{{$prefix}}/{{$path}}/{{$file.Name}}">
                        <img src="/assets/svgs/directory.svg" alt="">
                    {{$file.Name}}</a>
                </p>
            {{ end }}
            {{ if not $file.IsDir }}
                <p class="file"><a href="/{{$singleprefix}}/{{$path}}/{{$file.Name}}">
                        <img src="/assets/svgs/file.svg" alt="">
                        {{$file.Name}}</a>
                </p>
            {{end}}
        {{end}}
    </div>
</main>
</body>
</html>